div#encabezado{
    height: 150px;
    background-color: rgb(241, 102, 241);
}



div#contenido{
    height: 325px;
    background-color: rgb(136, 57, 136) ;
}

div#pie{
    height: 100px;
    background-color: rgb(114, 5, 114) ;
    text-align: center;
}
h1{
    top: 50px;
}